.jumbotron{
    /*min-height: 300px;*/
    max-height: 200px;
}
#picinjumbo{
    margin-top: -80px;
}
#picinjumbo p{
    margin-top: -10px;
}
#headerJumbo{
    margin-left: -40% ;
    background-color: #007BFF;
    color: white;
}
#navbar{
    /*margin-top: -2.8%;*/
    margin-top: -50px;
    position: relative;
}
#container{
  margin-top: -200px;
}
#leftspace{
margin-top: 30px;
margin-left: 25px ;
color: white;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-border-radius :500px ;
}
#centerspace{
  margin-left: 2%;
  margin-top: 1%;
  color: white ;
}
* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
#rightspace{
  margin-left: 20%;
margin-top: 22%;
border-radius: 50%;
color: white;
.img {
    border-radius: 50%;
}
}
#table{
  text-align: center;
}
.text{
margin-top: 60px;
}
#rightspacead{
  margin-top: 30px;
  margin-left: 25px ;
  color: white;
}
